/* ==========================================================================
   Wiki
   ========================================================================== */

.wiki-container {
  display: flex;
  flex-wrap: wrap;
}

.wiki-content {
  flex: 1;
  min-width: 0;
  margin-left: 0; // main site sidebar spacing is already applied
}

.wiki-nav h3 {
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
  margin-top: 0;         // optional
  margin-bottom: 0.05rem; // optional
}


/* Optional: expand/collapse nested ul */
.wiki-container .nav > li > ul {
  display: none;
  margin-left: 0;  // match main site indentation
  padding-left: 0;
}

.wiki-container .nav > li.open > ul {
  display: block;
}

